<h1>Editing check_in</h1>

<%= render 'form' %>

<div class="btn-group" style="padding-top:10px;">
	<%= link_to 'Show', @check_in, :class => "btn" %> |
	<%= link_to 'Back', check_ins_path, :class => "btn" %>
</div>