<h1>Editing venue</h1>

<%= render 'form' %>

<div class="btn-group" style="padding-bottom:10px;">
	<%= link_to 'Show', @venue, :class => "btn btn-small" %>
	checkin 
	<%= link_to 'Back', venues_path, :class => "btn btn-small" %>
</div>