.notice= notice
.row
  b Title:
  = @project.title
.row
  b Category:
  = @project.category
.row
  b Description:
  = @project.description
.row
  b Collaborators:
  - @project.collaborators.each do |collaborator|
    .offset1
      = link_to collaborator.user.name, profile_path(collaborator.user.profile.id) unless collaborator.user == nil
      br
| <Div class='row', style="min-height: 10px;"/>
.btn-group
  b
    = link_to raw('<i class="icon-pencil icon-white"></i> &nbsp Edit '), edit_project_path(@project), :class => "btn "
  b
    = link_to raw('<i class="icon-arrow-left icon-white"></i> &nbsp   Back '), projects_path, :class => 'btn'
