#main.reservations
  p#notice= notice
  p
    b User:
    = @reservation.user.name
  p
    b Room:
    = @reservation.room.name
  p
    b Scheduled from/to
    = format_date(@reservation.stop_time)
    | \&nbsp #{format_time(@reservation.start_time, @reservation.stop_time)}
  p
    b Attendie count:
    = @reservation.attendie_count
  p
    = link_to image_tag('icsGraphite.png'), reservation_path(@reservation, :format => 'ics')
  p
    = link_to 'Edit', edit_reservation_path(@reservation)
    | \
    | \#{link_to 'Back', reservations_path}
